apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong-dep
  namespace: applications
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      volumes:
        - name: shared-ping-log
          persistentVolumeClaim:
            claimName: ping-log-pv-claim
      containers:
        - name: ping-pong
          image: kontrakti/ping-pong:latest
          env: 
          - name: PORT
            value: "3000"
          ports:
            - containerPort: 3000
          volumeMounts: 
          - name: shared-ping-log
            mountPath: /pinglogs
          resources:
            limits:
              memory: 512Mi
              cpu: "1"
            requests:
              memory: 256Mi
              cpu: "0.2"
