apiVersion: apps/v1
kind: Deployment
metadata:
  name: project-dep
  namespace: project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: project
  template:
    metadata:
      labels:
        app: project
    spec:
      volumes:
        - name: main-image
          persistentVolumeClaim:
            claimName: main-image-claim
      containers:
        - name: project
          image: kontrakti/project:latest
          env: 
          - name: PORT
            value: "3000"
          ports:
            - containerPort: 3000
          volumeMounts: 
          - name: main-image
            mountPath: /go/assets
          resources:
            limits:
              memory: 512Mi
              cpu: "1"
            requests:
              memory: 256Mi
              cpu: "0.2"
